/* HK GROTESK ------------------------------------------------------------------ */

@font-face {
    font-family: 'hk-grotesk-regular';
    src: url('HKGrotesk-Regular.woff2') format('woff2'),
         url('HKGrotesk-Regular.eot') format('embedded-opentype'),
         url('HKGrotesk-Regular.woff') format('woff'),
         url('HKGrotesk-Regular.ttf') format('truetype'),
         url('HKGrotesk-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hk-grotesk-regular';
    src: url('HKGrotesk-Italic.woff2') format('woff2'),
         url('HKGrotesk-Italic.eot') format('embedded-opentype'),
         url('HKGrotesk-Italic.woff') format('woff'),
         url('HKGrotesk-Italic.ttf') format('truetype'),
         url('HKGrotesk-Italic.svg') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'hk-grotesk-light';
    src: url('HKGrotesk-Light.woff2') format('woff2'),
         url('HKGrotesk-Light.eot') format('embedded-opentype'),
         url('HKGrotesk-Light.woff') format('woff'),
         url('HKGrotesk-Light.ttf') format('truetype'),
         url('HKGrotesk-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hk-grotesk-light';
    src: url('HKGrotesk-LightItalic.woff2') format('woff2'),
         url('HKGrotesk-LightItalic.eot') format('embedded-opentype'),
         url('HKGrotesk-LightItalic.woff') format('woff'),
         url('HKGrotesk-LightItalic.ttf') format('truetype'),
         url('HKGrotesk-LightItalic.svg') format('svg');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'hk-grotesk-medium';
    src: url('HKGrotesk-Medium.woff2') format('woff2'),
         url('HKGrotesk-Medium.eot') format('embedded-opentype'),
         url('HKGrotesk-Medium.woff') format('woff'),
         url('HKGrotesk-Medium.ttf') format('truetype'),
         url('HKGrotesk-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hk-grotesk-medium';
    src: url('HKGrotesk-MediumItalic.woff2') format('woff2'),
         url('HKGrotesk-MediumItalic.eot') format('embedded-opentype'),
         url('HKGrotesk-MediumItalic.woff') format('woff'),
         url('HKGrotesk-MediumItalic.ttf') format('truetype'),
         url('HKGrotesk-MediumItalic.svg') format('svg');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'hk-grotesk-semiBold';
    src: url('HKGrotesk-SemiBold.woff2') format('woff2'),
         url('HKGrotesk-SemiBold.eot') format('embedded-opentype'),
         url('HKGrotesk-SemiBold.woff') format('woff'),
         url('HKGrotesk-SemiBold.ttf') format('truetype'),
         url('HKGrotesk-SemiBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hk-grotesk-semiBold';
    src: url('HKGrotesk-SemiBoldItalic.woff2') format('woff2'),
         url('HKGrotesk-SemiBoldItalic.eot') format('embedded-opentype'),
         url('HKGrotesk-SemiBoldItalic.woff') format('woff'),
         url('HKGrotesk-SemiBoldItalic.ttf') format('truetype'),
         url('HKGrotesk-SemiBoldItalic.svg') format('svg');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'hk-grotesk-bold';
    src: url('HKGrotesk-Bold.woff2') format('woff2'),
         url('HKGrotesk-Bold.eot') format('embedded-opentype'),
         url('HKGrotesk-Bold.woff') format('woff'),
         url('HKGrotesk-Bold.ttf') format('truetype'),
         url('HKGrotesk-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hk-grotesk-bold';
    src: url('HKGrotesk-BoldItalic.woff2') format('woff2'),
         url('HKGrotesk-BoldItalic.eot') format('embedded-opentype'),
         url('HKGrotesk-BoldItalic.woff') format('woff'),
         url('HKGrotesk-BoldItalic.ttf') format('truetype'),
         url('HKGrotesk-BoldItalic.svg') format('svg');
    font-weight: normal;
    font-style: italic;
}

/* HK GROTESK END -------------------------------------------------------------- */
