/* https://github.com/LucasLeBihan/Nanook */

@font-face {
    font-family: 'nanook';
    src: url('nanook.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nanook-bold';
    src: url('nanook_bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'nanook-icon';
    src: url('nanook-Bold-icon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
